<div class="container-fluid">

  <div class="jumbotron">
    <h1 class="title">木匠世家 匠心家居</h1>
    <p class="slogan">
      大国重器 匠人精神
      <br>
      清道光以降，传承两百年，追求品质，用匠人精神
      <br>
      为您提供高品质的产品
    </p>

    <p class="lead">
      <a class="btn btn-lg btn-danger" href="/products">马上看看</a>
    </p>
  </div>




<!-- 我们的优势 -->

<div class="welcome-part1-01">
  <div class="welcome-short-line"></div>
  <div class="welcome-part1-title">
    <h2 >
      我们的优势
    </h2>
  </div>
  <div class="welcome-part1-block">
    <div class="welcome-part1-01-box">
      <img src='http://ogk4z553l.bkt.clouddn.com/professional.png'>
      <br>
      <h3 class="welcome-part1-01-title">专业化团队经验</h3>
      <p >我们的师傅都是几十年经验的工匠，结合现代高精度机器，为每一个家具规正每一分毫。</p>
    </div>
    <div class="welcome-part1-01-box">
        <img src='http://ogk4z553l.bkt.clouddn.com/worldwide.png'>
        <br>
        <h3 class="welcome-part1-01-title">精选天然木材</h3>
        <p>精选北美或西伯利亚优质栎树山毛榉等优质木材，兼具自然与品质。</p>
    </div>
    <div class="welcome-part1-01-box">
        <img src='http://ogk4z553l.bkt.clouddn.com/software01.png'>
        <br>
        <h3 class="welcome-part1-01-title">一站式售后服务</h3>
        <p>送货上门，免费安装。一年质保，品质保障，为您带来五星级的售后服务</p>
    </div>
  </div>
</div>






</div>
