<div class="container-fluid">

  <div class="jumbotron">
    <h1 class="title">
      <font color="lightseagreen">
        木匠世家 匠心家居</h1>
      <h1>
        <p class="slogan">
          大国重器 匠人精神
          <br><br>
          清道光以降，传承两百年，追求品质，用匠人精神
          <br><br>
          为您提供高品质的产品
        </p>
      </h1>

      <p class="lead">
        <a class="btn btn-lg btn-danger" href="/products">立刻查看</a>
      </p>

    </div>

    <!-- 我们的优势 -->

    <div class="welcome-part1-01">
      <div class="welcome-short-line"></div>
      <div class="welcome-part1-title">
        <h2 >
          我们的优势
        </h2>
      </div>
      <div class="welcome-part1-block">
        <div class="welcome-part1-01-box">
          <img src='http://ogk4z553l.bkt.clouddn.com/professional.png'>
          <br>
          <h3 class="welcome-part1-01-title">专业化匠人团队</h3>
          <p >我们的师傅都是几十年经验的工匠，结合现代高精度机器，为每一个家具规正每一分毫。</p>
        </div>
        <div class="welcome-part1-01-box">
          <img src='http://ogk4z553l.bkt.clouddn.com/worldwide.png'>
          <br>
          <h3 class="welcome-part1-01-title">精选天然木材</h3>
          <p>精选北美或西伯利亚优质栎树山毛榉等优质木材，兼具自然与品质。</p>
        </div>
        <div class="welcome-part1-01-box">
          <img src='http://ogk4z553l.bkt.clouddn.com/software01.png'>
          <br>
          <h3 class="welcome-part1-01-title">一站式售后服务</h3>
          <p>送货上门，免费安装。一年质保，品质保障，为您带来五星级的售后服务</p>
        </div>
      </div>
    </div>

    <!-- 客户反馈 -->
    <div class="welcome-part3">
      <div class="welcome-part3-center-block">
        <div class="welcome-short-line"></div>
        <div class="welcome-part1-title">
          <h2 >
            客户反馈
          </h2>
        </div>
        <div class="welcome-part3-box">
          <p class="welcome-part3-text1">
            我是老木匠家具的老客户了，家里基本上都是他家的，真是处女座的大杀器。
          </p>
          <div class="welcome-quote-image"></div>
          <div class="welcome-part3-box-image"></div>
          <div class="welcome-part3-text2">
            <p class="user-name">
              赵女士
            </p>
          </div>
          <div class="welcome-part3-text3">
            <p class="user-introduction">
              碧桂园业主
            </p>
          </div>
        </div>

        <div class="welcome-part3-box">

          <p class="welcome-part3-text1">
            我喜欢天然木材的纹理，那种散发淡淡的木香的家具让我痴迷。
          </p>
          <div class="welcome-quote-image"></div>
          <div class="welcome-part3-box-image"></div>
          <div class="welcome-part3-text2">
            <p class="user-name">
              王先生
            </p>
          </div>
          <div class="welcome-part3-text3">
            <p class="user-introduction">
              万科业主
            </p>
          </div>
        </div>

        <div class="welcome-part3-box">

          <p class="welcome-part3-text1">
            老木匠的家具就像一件艺术品，每一个细节都非常考究，我能感受到这是一群匠人的匠心之作。
          </p>
          <div class="welcome-quote-image">
            <!-- <img src="/images/myquote.png" alt="Project"> 待研究-->
          </div>
          <div class="welcome-part3-box-image"></div>
          <div class="welcome-part3-text2">
            <p class="user-name">
              张先生
            </p>
          </div>
          <div class="welcome-part3-text3">
            <p class="user-introduction">
              万达业主
            </p>
          </div>
        </div>
      </div>
    </div>

    <!--页面下方购物链接-->

    <div class="block-submit-last">
      <p class="slogan">
        <h2>精品家具，手落货到……</h2>
      </p>
      <!-- <div class="lp-action btn"> -->
      <!-- <p class="lead"><a class="btn btn-lg btn-success" href="/jobs">马上应聘</a></p> -->
      <!-- </div> -->
      <div class="round-submit-1">
        <div>
          <a class="round-submit-button" href="/products">
            马上购买</a>
        </div>

      </div>
    </div>

  </div>
