
<div class="row" >


<div class="jumbotron">
    <h1 class="title">木匠世家 匠心家居</h1>
    <p class="slogan"> 大国重器  匠人精神
    <br>
    清道光以降，传承两百年，追求品质，用匠人精神
    <br>
     为您提供高品质的产品
    </p>


    <p class="lead"><a class="btn btn-lg btn-danger" href="/products">马上看看</a></p>
  </div>
</div>






<!-- 实验用代码 -->
<!-- <div class="container ">

  <div class="row text-center">
    <h3>购物袋</h3>
  </div>

  <div class="row">
    <div class="col-md-7 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              A
            </div>
            <div class="col-md-6">
              <div class="col-md-4">
                aa
              </div>
              <div class="col-md-4">
                bb
              </div>
              <div class="col-md-4">
                cc
              </div>
            </div>
            <div class="col-md-2">
              C
            </div>

          </div>

        </div>
      </div>
    </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            A Basic Panel
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <div class="panel panel-default">
          <div class="panel-body">
            A Basic Panel
          </div>
        </div>
      </div>
    </div>


  </div> -->
