<div class="container-fluid">

  <div class="jumbotron">
    <h1 class="title">木匠世家 匠心家居</h1>
    <p class="slogan">
      大国重器 匠人精神
      <br>
      清道光以降，传承两百年，追求品质，用匠人精神
      <br>
      为您提供高品质的产品
    </p>

    <p class="lead">
      <a class="btn btn-lg btn-danger" href="/products">马上看看</a>
    </p>
  </div>




<!-- 我们的优势 -->

<div class="welcome-part1-01">
  <div class="welcome-short-line"></div>
  <div class="welcome-part1-title">
    <h2 >
      我们的优势
    </h2>
  </div>
  <div class="welcome-part1-block">
    <div class="welcome-part1-01-box">
      <img src='http://ogk4z553l.bkt.clouddn.com/professional.png'>
      <br>
      <h3 class="welcome-part1-01-title">专业化团队经验</h3>
      <p >我们精选企业与人才，由专业团队对相关职位进行全方位评估，为双方的匹配度做专业筛选。</p>
    </div>
    <div class="welcome-part1-01-box">
        <img src='http://ogk4z553l.bkt.clouddn.com/worldwide.png'>
        <br>
        <h3 class="welcome-part1-01-title">职位面对全球</h3>
        <p>面向全世界提供职位信息，为国际性人才提供专业化服务。</p>
    </div>
    <div class="welcome-part1-01-box">
        <img src='http://ogk4z553l.bkt.clouddn.com/software01.png'>
        <br>
        <h3 class="welcome-part1-01-title">集中软件相关行业</h3>
        <p>特别专注于软件相关行业，软件是连接世界的桥梁，让我们一起为国际化的明天贡献一份力量。</p>
    </div>
  </div>
</div>






</div>
