<div class="row">


<div class="jumbotron">
    <h1 class="title">木匠世家 匠心家居</h1>
    <p class="slogan"> 大国重器  匠人精神
    <br>
    清道光以降，传承两百年，追求品质，用匠人精神
    <br>
     为您提供高品质的产品
    </p>


    <p class="lead"><a class="btn btn-lg btn-danger" href="/products">马上看看</a></p>
  </div>
</div>
