<div class="container" align="center" >

  <!-- 网站简介 -->
  <div class=" col-md-12  container about-title-box">
    <span class="about-title-e">木匠世家</span><br>
    <h1 class="about-title-c">ABOUT US</h1>
  </div>

  <p class="about-info">
    「木匠世家」 是一个品质家居网上商城 <br>
    主要售卖天然原木家具 <br><br>
    这里每一款家具均由手工精心打造 <br>
    传承家族荣耀 <br>
    追求完美 苛求细节 <br>
    毫厘之中<br>彰显品质与尊贵 <br>
    「木匠世家」为您带来高品质的生活！<br>

  </p>

  <hr>

  <!-- 团队介绍 -->
  <div class="row"  >
    <div class="col-md-12 about-info ">
      <h2 class="tagline" align="center" >金牌大师 非物质传承人</h2>
      <hr width="40%" >
      <div class="col-md-offset-2 col-md-8">
        <div class="col-md-6 col-md-offset-3">
          <%= image_tag("http://ww2.sinaimg.cn/large/62385961gw1f7qpia448ag208w03s4ha.gif", class: "img-circle img-responsive img-center frontpage-img") %>
        </div>
        <div class="col-xs-12">
          <h5><a href="http://baidu.com/" target="_blank">鲁斑斑（鲁班第888代传人）</a></h5>

          <p>
            十岁始学木匠 至今共四十四载年华<br>
            精通各种古法工艺<br>
            2001年参加故宫修复工程<br>
            2008年获国家非物质传承人，终身荣誉大师<br>
          </p>
        </div>
      </div>

    </div>
  </div>

</div>
