/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


.jumbotron {
  background-image: url('head.jpeg');   //大图链接
  background-repeat: no-repeat;

  background-size: cover;

  padding-bottom: 110px;
}

.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", white,微软雅黑;
  text-align: center;

  margin-top: 200px;
  margin-bottom: 80px;

}

.slogan {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
    top: 12px;
  }

  .lead {
    margin-bottom: 60px;
    text-align: center;
    color: white;
  }

// 导航栏的设计
  // .navbar-default {
  //      background-color: #212121;  //背景颜色
  //
  //      border-color: #212121; //边框色
  //
  //      margin-bottom: 0; //底部 margin 不撑开距离
  //  }
  //   @media (min-width: 768px) {
  //     .navbar {
  //       border-radius: 0; //圆角为0
  //     }
  //   }
  //
  //    .navbar-default .navbar-brand {
  //      color: #EF6C00; //字体颜色
  //
  //
  //      padding: 10px 15px; //上下10px，左右15px
  //      line-height: 30px; //文字行高
  //    }
  //
  //    .navbar-default .navbar-brand:hover,
  //    .navbar-default .navbar-brand:focus {
  //      color: #red; //鼠标放置在链接上的文字颜色
  //
  //      background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
  //    }
  //
  //    .navbar-default .navbar-nav > li > a{
  //      color: #EF6C00;
  //
  //    }
  //
  //    .navbar-default .navbar-nav > li > a:hover,
  //    .navbar-default .navbar-nav > li > a:focus {
  //      color: #FF6F00;
  //
  //      background-color: transparent;
  //    }
  //    .navbar-default .navbar-nav > .active > a,
  //    .navbar-default .navbar-nav > .active > a:hover,
  //    .navbar-default .navbar-nav > .active > a:focus {
  //      color: #FF6F00;
  //
  //      background-color: #green;
  //
  //    }
  //
  //    .navbar-default .navbar-nav > .open > a,
  //    .navbar-default .navbar-nav > .open > a:focus,
    //  .navbar-default .navbar-nav > .open > a:hover {
    //    background-color: #FFE0B2;
     //
    //    color: #212121;
     //
    //  }





 .container-fluid .jumbotron{
   padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
   margin: 0   0 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
   border-radius: 0;//圆角为0
 }

//替换按钮
 .btn-danger {
     color: #fff;//字体颜色

     background-color: #EF6C00;//背景颜色

     border-color: #EF6C00;//边框颜色

 }

 .btn-danger:hover {
     background-color: #red;//鼠标放置在btn上的背景颜色

     border-color: #white;//鼠标放置在btn上的边框颜色

 }



 // common navbar
 .navbar-default {
   margin-bottom: 0;
   border-radius: 0;
   background: rgba(0,0,0,0.3);
   &.show_bgcolor {
     background-color: #02061A;

   }
     .navbar-header {
       margin-left: 9%;
       a {
         font-size: 20px;
         color: #fff;
         transition: 0.35s;
       }
       a:hover {
         color: #D0CFCE;
       }
     }
     .navbar-nav li a {
       color: #fff;
       font-size: 16px;
       transition: 0.35s;
     }
     .navbar-nav li a:hover {
       color: #D0CFCE;
       text-decoration: none
     }

     .navbar-nav .dropdown-menu {
       padding-bottom: 0;
       padding-top: 0;
       a {
         text-align: center;
         color: #000;
       }
       li.divider:last-child {
         display: none;
       }
     }

  }




//下面代码为navbar效果
// 类别
//     .tab-nav{
//       float: left;
//       margin-top: 56px;
//       line-height: 1;
//       height: 30px;
//       position: relative;
//       width: 100%;
//     }
//     .nav-item {
//     float: left;
//     padding: 6px 30px 0;
//     font-size: 14px;
// }
// // 解决冲突，加上父元素
// .tab-nav li {
//     display: list-item;
//     text-align: -webkit-match-parent;
// }
//  .first {
//      margin-left: 12px;
//      padding-left: 30px;
//  }
