// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// 购物车整体样式
.shoping-cart {
  margin-top: -50px;
  height: -100px;

  }

// 清空购物车按钮
  .clean_carts {
    padding-top: 20px;
  }

// 列表表头样式
.cart-column-head {
  background: #7f8c8d;
  padding: 20px 0 20px 0;
  margin-bottom: 0px;
  color: #fff;
  label {
    text-align: center;
    line-height: 4px;
  }
}

// 购物车商品
.product-list {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: auto;
    width: 110px;
  }
}

// 合计样式
.product-price-totle {
  font-size: 2em;
  color: #7f8c8d;
  font-weight: lighter;
}

// 提交按钮样式
.cart-buying-buttom {
  margin: 1.2em auto 3em;
  margin-bottom: 150px;
}

// 订单资讯样式
.order-form-group {
  margin: 30px auto 60px;
}
//生成订单界面
.checkout {
  margin-bottom: 300px;
}
