<footer class="container-fluid" class="site-footer col-md-12 ">
  <div class="foot">

    <p class="text-center">Copyright ©2017 木匠世家 Design by
      <a href="http://baidu.com" target=_new>jkxruby</a>
    </p>
  </div>
</footer>
